.code-manager-container{
								
}
.code-manager-container .code-manager-code-item{
								
}
.code-manager-container aside{
				float: right;
    margin: 50px 0 0;
    position: fixed;
    right: 10%;
}
.code-manager-container .code-manager-code-list{
				float: left;
    width: 80%;
}

/* Code Detail Styles */
#code-detail-body h3,
#code-detail-body h4,
#code-detail-body h5,
#code-detail-body h6{ font-weight: bold; }
#code-detail-body ul,
#code-detail-body ol{
				margin-bottom: 10px;
				padding: 0 0 0 15px;
}
#code-detail-body h2{
				float: none;
				width: 100%;
}
#code-detail-body h2 .code-detail-technologies{ float: right; }
#code-detail-body h2 .code-detail-technologies h3{
				color: #555;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 100;
    margin: 11px 0 0;
				text-shadow: 0;
}
#code-detail-body h2 .code-detail-technologies ul{
				float: right;
    list-style-type: none;
    overflow: hidden;
}
#code-detail-body h2 .code-detail-technologies ul li{ margin-right: 5px; }
#code-detail-body h2 .code-detail-technologies ul li:last-of-type{ margin-right: 0; }
#code-detail-body .code-detail-text{ clear: right; }
#code-detail-body .code-detail-header{ margin: 20px 0 0; }
#code-detail-docs{ clear: both; }
#code-detail-body h3{ font-weight: 400; }
#code-detail-body a.code-manager-link{
				display: inline-block;
				height: 32px;
				margin: 0 10px 0 0;
				text-indent: -9999px;
				width: 32px;
}
#code-detail-body a.code-manager-download-link{ background: transparent url("../images/download-icon.png") no-repeat left top; }
#code-detail-body a.code-manager-github-link{ background: transparent url("../images/github-icon.png") no-repeat left top; }